################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/TemplateWeb/.vs
/TemplateWeb/templateweb.api/obj
/TemplateWeb/templateweb.api/bin/Debug/net6.0
/TemplateWeb/templateweb.api/bin/Debug/net7.0
/TemplateWeb/templateweb.repository/obj
/TemplateWeb/templateweb.repository/bin/Debug/net7.0
/TemplateWeb/TemplateWeb.Repository.Abstraction/obj
/TemplateWeb/TemplateWeb.Repository.Abstraction/bin/Debug/net7.0
